// --------------------------------
// Blocks settings
// --------------------------------

.image-block {
    
    @include media-breakpoint-up(md) {
        width: 47%;
    }

    @include media-breakpoint-up(xl) {
        width: 50rem;
    }

    img {
        @include media-breakpoint-only(md) {
            height: 22rem;
        }

        @include media-breakpoint-only(lg) {
            height: 30rem;
        }
    }

    &__box {

        border-radius: 2.4rem;
    
        &--dark {
            background-color: $color-secondary;

            h3, li {
                color: $white;
            }
        }
        &--light {
            background-color: $color-bg-light;
        }
    }

}

.content-block {
    border-radius: .4rem;

    &--light {
        background-color: $color-bg-light;
    }
    &--dark {
        background-color: $color-secondary;
    }
    &--height-sm {
        height: 5.2rem;
    }
}

.inner-block {
    margin: -8rem -4rem 0 0;
    border-radius: .4rem;

    @include media-breakpoint-up(xl) {
        margin: -8rem -4rem 0 4rem;
    }
}