// --------------------------------
// Buttons settings
// --------------------------------

.btn {
	height: 6rem;
	line-height: 6rem;
	border-radius: .4rem;
	padding: 0 4rem;

	&-primary {
		border-color: $color-primary;
		background-color: $color-primary;
	}
}