// --------------------------------
// Modals settings
// -------------------------------- 


.modal {

    &-content {
        border: none;
        border-radius: .8rem;
    }

    &-body {
        padding: 6rem;
    }

    &-backdrop {
        opacity: .6;
        background-color: $color-secondary;
    }

    .close {
        position: absolute;
        top: 3rem;
        right: 3rem;
    }
}

@media (min-width: 576px) {
    
    .modal-dialog {
        max-width: 67rem;
        margin: 10rem auto;
    }
}