// --------------------------------
// Base web style rules
// --------------------------------

html {
    font-size: $base-font-size;
} 

body {    
    background-color: #F9FAFB;
    overflow-x: hidden;
}

main.register {

    .container {
        padding: 6rem 0 0;       

        @media only screen and (min-width:1600px) {
            padding: 14rem 0 0;
        }
    }

    img.position-absolute {
        right: 0;
        top: 0;
    }


}

.dashboard {

    .container-fluid {
        padding: 0 3rem;

        // @include media-breakpoint-up(xl) {
        //     padding: 0 6rem;
        // }

        @include media-breakpoint-up(xxxl) {
            padding: 0 6rem;
        }
    }

}