// --------------------------------
// Base web style rules
// --------------------------------

html {
    font-size: $base-font-size;
} 

body {    
    background-color: #F9FAFB;
}

main.register {

    .container {
        padding: 14rem 0 0;
    }

    img.position-absolute {
        right: 0;
        top: 0;
    }


}