// --------------------------------
// Helpers settings
// --------------------------------

// Bg colors

.bg-color {

    &--light-grey {
        background-color: $color-light-grey;
    }
    &--light {
        background-color: $color-bg-light-100;
    }
    &--light-20 {
        background-color: rgba($color-light-grey-200,.2);
    }
    &--white {
        background-color: $white;
    }

}

.icon {
    @extend %fa-icon;
    @extend .fas;
    
    z-index: 3;
    position: relative;

    &--rounded {
        width: 5.2rem;
        height: 5.2rem;
        border-radius: 50%;

        line-height: 5.2rem;
        text-align: center;
    }

    &--rounded-lg {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;

        line-height: 6rem;
        text-align: center;

        font-size: 1.4rem;
    }
    
    &--rounded-sm {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;

        line-height: 3rem;
        text-align: center;
    }

    &--light-grey {
        color: $color-light-grey-200;
        background-color: #E9EDF1;
        border: 1.25rem solid #F9FAFB;
        box-sizing: content-box;
    }

    &--light-grey-20 {
        color: $color-light-grey-200;
        background-color: rgba($color-light-grey-200, .2);
    }

    &--bordered {
        border: .1rem solid $color-light-grey-300;
        color: $color-secondary !important;

        font-weight: 300;
    }

    &--success {
        color: $white !important;
        background-color: $color-success;
    }

    &--light {
        color: $white;
        background-color: rgba($white,.15);
    }

    &--white {
        background-color: $white;
    }

    &--primary {
        color: $primary;
    }

    &--valid {
        font-size: 1.8rem;
        color: $color-success;

        &:before {
            content: fa-content($fa-var-check-circle);
        }
    }

    &--invalid {
        font-size: 1.8rem;
        color: $color-danger;
        
        &:before {
            content: fa-content($fa-var-times-circle);
        }
    }

    &--info {
        color: $color-light-grey-200;
        background-color: rgba( $color-light-grey-200, .2);

        &:before {
            content: fa-content($fa-var-info);
        }
    }
    &--investovane {
        color: $color-light-grey-200;
        background-color: $white;

        &:before {
            content: fa-content($fa-var-info);
        }
    }
    &--volne {
        font-size: 1.2rem;
        &:before {
            content: fa-content($fa-var-wallet);
        }
    }
    &--close {
        color: $color-light-grey-100;
        font-size: 2.1rem;

        &:before {
            content: fa-content($fa-var-times);
        }
    }
    &--back {
        @extend .far;
        &:before {
            content: fa-content($fa-var-angle-left);
        }
    }
    &--plus {
        font-weight: 300 !important;
        &:before {
            content: fa-content($fa-var-plus);
        }
    }
    &--minus {
        font-weight: 300 !important;
        &:before {
            content: fa-content($fa-var-minus);
        }
    }
    &--approved {
        &:before {
            content: fa-content($fa-var-check-circle);
        }
    }
    &--cas {
        &:before {
            content: fa-content($fa-var-stopwatch);
        }
    }
    &--upload {
        &:before {
            content: fa-content($fa-var-cloud-upload);
        }
    }
    &--hamburger {
        font-size: 2.1rem;
        &:before {
            content: fa-content($fa-var-bars);
        }
    }
    &--details {
        font-size: 2.4rem;
        color: $color-light-grey-200;

        &:before {
            content: fa-content($fa-var-ellipsis-h);
        }
    }
    &--investicie-main {
        font-size: 2.8rem;
        color: $color-light-grey-300;

        &:before {
            content: fa-content($fa-var-chart-line);
        }
    }
    &--aukcie-main {
        font-size: 2.8rem;
        color: $color-light-grey-300;

        &:before {
            content: fa-content($fa-var-landmark);
        }
    }
    &--check {
        font-size: 1.2rem;
        color: $color-light-grey-300;

        &:before {
            content: fa-content($fa-var-check);
        }
    }

    &--aukcie-ukoncene {
        &:before {
            content: fa-content($fa-var-landmark);
        }
    }
}

.border {

    &-bottom-mobile {
        border-bottom: .1rem solid rgba($color-light-grey-300, .5);
        @include media-breakpoint-up(md) {
            border-bottom: none;
        }
    }

    &-bottom-light {
        border-bottom: .1rem solid rgba($color-light-grey-300, .5);
    }
    &-bottom-white-15 {
        border-bottom: .1rem solid rgba($white,.15);
    }
    &-right-light {
        border-bottom: .1rem solid rgba($color-light-grey-300, .5);

        @include media-breakpoint-only(md) {
            border-right: none;
            border-bottom: none;
        }
        @include media-breakpoint-up(lg) {
            border-right: .1rem solid rgba($color-light-grey-300, .5);
            border-bottom: none;
        }
    }
}

.box {
    &--rounded {
        border-radius: .8rem;
    }
}

.position-sticky {
    top: 6rem;
}

.vertical-line {
    position: absolute;
    width: .1rem;
    height: 100%;
    background-color: rgba($color-light-grey-200,.5);
    left: 50%;
    z-index: 1;
}

.separator {

    &-white-light {
        border-bottom: .1rem solid rgba($white,.15);
    }

}

.pt {
    &-130 {
        padding-top: 5rem;
        
        @include media-breakpoint-up(xl) {
            padding-top: 13rem;
        }
    }
    &-230 {
        padding-top: 5rem;

        @include media-breakpoint-up(xl) {
            padding-top: 23rem;
        }
    }
}

.right-image-offset {
    width: 47vw;
}

.coskoro-img {
    width: 47vw;
}

.close-btn {


    &.--absolute {
        position: absolute;
        right: 3rem;
        top: 3rem;

        @include media-breakpoint-up(md) {
            right: 6rem;
            top: 6rem;
        }
    }
}

.current {
    color: #212529;
}

*::placeholder {
    color: #8898A9;
}