// --------------------------------
// Typography settings
// --------------------------------

h1 {
    font-size: 5rem;
    margin-bottom: 4rem;

    @include media-breakpoint-up(xl) {
        font-size: 8rem;
        margin-bottom: 4rem;
    }
}

h2 {
   font-size: 4rem; 

    @include media-breakpoint-up(xl) {
        font-size: 6rem;
    }

    &.light {
       font-weight: 300;
    }
}

h3 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
    font-weight: 300;

    &.light {
        font-weight: 300;
    }

    @include media-breakpoint-up(xl) {
        font-size: 4.8rem;
    }
}

h4 {
    font-size: 3.2rem; 

    &.light {
        font-weight: 300;
    }
}

h5 {
    font-size: 2.8rem;

    &.light {
        font-weight: 300;
    }
}

h6 {
    font-weight: 300;
}

a {
    color: $color-primary;
}

p, ul li, .btn {
    font-size: 1.6rem;
}

p {
    line-height: 3.2rem;
    color: $color-grey;
}

.text {

    &--light {
        color: $color-grey;
    }

    &--dark {
        color: $color-dark-blue;
    }

    &--white {
        color: $white;
    }

    &--primary {
        color: $color-primary;
    }

    &-success {
        color: $color-success !important;
    }

    &-warning {
        color: $color-yellow !important;
    }

    &-24 {
        font-size: 1.8rem;

        @include media-breakpoint-up(xl) {
            font-size: 2.4rem;
        }
    }

}

.line {

    &-28 {
        line-height: 2.8rem !important;
    }

    &-42 {
        line-height: 3rem;

        @include media-breakpoint-up(xl) {
            line-height: 4.2rem;
        }
    }
}

ul {
    margin-bottom: 4rem;
}

ul.custom-icon {
    list-style: none;
    padding: 0;

    &.m-xl li {
        margin-bottom: 3rem;
    }

    li {
        padding-left: 3rem;
        line-height: 2.6rem;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &.light li {
        color: $white;
    }

    &__check {
        li:before {
            @extend %fa-icon;
            @extend .fas;

            content: fa-content($fa-var-check);
            font-size: 1.3rem;
            color: $color-primary;
            display: inline-block;
            margin-left: -3rem; /* same as padding-left set on li */
            width: 3rem; /* same as padding-left set on li */
        }
    }
    &__check-circle {
        li:before {
            @extend %fa-icon;
            @extend .fas;

            content: url('../img/icon-check.png');
            vertical-align: middle;
            display: inline-block;
            margin-left: -1.3rem; /* same as padding-left set on li */
            width: 3rem; /* same as padding-left set on li */
        }
    }
  }
  
  
  