// --------------------------------
// Web specific mixins
// --------------------------------

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
) !default;

$spacer: 1rem;
$spacers: (
	1: ($spacer * 1),
	2: ($spacer * 1.5),
	3: ($spacer * 2),
	4: ($spacer * 2.5),
	5: ($spacer * 3),
	6: ($spacer * 3.5),
	7: ($spacer * 4),
	8: ($spacer * 4.5),
	9: ($spacer * 5),
	10: ($spacer * 5.5),
	11: ($spacer * 6),
	12: ($spacer * 6.5),
	13: ($spacer * 7),
	14: ($spacer * 7.5),
	15: ($spacer * 8)
);

$form-grid-gutter-width:			3rem !default;
$custom-control-indicator-size: 	2rem;

$custom-range-track-height: 		.3rem;
$custom-range-track-bg:				$color-light-grey;
$custom-range-thumb-width:			1.5rem;