// --------------------------------
// Web specific variables
// --------------------------------

$base-font-size:        10px; 
$base-font-family:      Poppins, 'sans-serif';

$fa-font-path:          "../fonts/Fontawesome";

