// --------------------------------
// Web specific variables
// --------------------------------

$base-font-size:        10px; 
$base-font-family:      Poppins, 'sans-serif';

$fa-font-path:          "../fonts/Fontawesome";

$color-primary: #3457FA;
$color-primary--hover: #2843C3;
$color-secondary: #0F1839;
$color-dark-blue: #131837;
$color-dark-blue-100: #111B51;
$color-dark-blue-200: #12193F;
$color-dark-blue-300: #070E28;
$color-yellow: #F7AA00;
$color-light-grey: #E7EBF1;
$color-light-grey-100: #A5B5C7;
$color-light-grey-200: #B3C2D3;
$color-light-grey-300: #CAD6E4;
$color-light-grey-400: #8FA2B7;
$color-grey: #7A8EA6;
$color-grey-100: #8599AF;
$color-success: #00C1A1;
$color-danger: #EB3B5A;

$color-bg-light: #EEF2F8;
$color-bg-light-100: #F9FAFB;

$color-review-stars: $color-yellow;

$custom-control-indicator-bg: $color-light-grey;
$custom-control-indicator-border-color: $color-light-grey;

