// --------------------------------
// Hero banner settings
// -------------------------------- 

$notification-icon-color: $color-light-grey-300;
$notification-icon-color-xs: $white;

$subpages-nav-item-bg: $color-light-grey-200;
$subpages-nav-item-color: $color-grey;
$subpages-nav-item-bg--active: $color-light-grey-200;
$subpages-nav-item-color--active: $color-dark-blue;
$subpages-nav-item-count-bg: $color-light-grey-200;
$subpages-nav-item-count-bg--active: $color-primary;
$subpages-nav-item-count-color: $white;

header {

    &.landing {

        position: absolute;
        top: 0;
        left: 0;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        width: 100%;
        height: 10rem;   
        
        
        z-index: 2;
    }

    &.main-content-header {   

        padding: 3rem !important;

        img.mini-logo {
            width: 3.6rem;
            height: 3.6rem;
        }

        @include media-breakpoint-up(xl) {
            padding: 0 3rem !important;
            height: 15rem;
        }      

        @include media-breakpoint-up(xxxl) {
            padding: 0 6rem !important;
        }
    }

    
}

.alerts-dropdown {
    margin: 0 2.5rem 0 0;

    .dropdown-menu {
        @include media-breakpoint-down(md) {
            transform: translate3d(-61%, 6rem, 0px) !important;
            left: 50% !important;
        }
    }
}

.alerts-icon {
    @extend %fa-icon;
    @extend .fas;    
    
    position: relative;

    .unread-alert {
        position: absolute;
        top: -.2rem;
        right: -.2rem;
        width: .6rem;
        height: .6rem;
        background-color: $color-primary;
        border: .2rem solid $color-secondary;
        border-radius: 50%;

        box-sizing: content-box;
        
        @include media-breakpoint-up(xl) {
            border: .15rem solid $white;
        }
    }

    &:after {
        content: fa-content($fa-var-bell);
        font-size: 2rem;
        color: $notification-icon-color-xs;
        display: inline-block;

        @include media-breakpoint-up(xl) {
            color: $notification-icon-color;
        }
    }
}

.profile-dropdown {
    .dropdown-menu {
        @include media-breakpoint-down(md) {
            transform: translate3d(-78%, 6.8rem, 0px) !important;
            left: 50% !important;
        }
    }
}

.user-profile-toggle {
    border-radius: 50%;
    background-color: rgba(#CAD6E4, 1);
    overflow: hidden;

    @include media-breakpoint-up(xl) {
        background-color: rgba(#CAD6E4, .5);
    }

    img {
        height: 3.6rem;
        width: 3.6rem;
    
        @include media-breakpoint-up(xl) {
            height: auto;
            width: auto;
        }
    }
}


.row-header {

    .icon {
        @extend %fa-icon;
        @extend .fas;  

        margin: 0 1.5rem 0 0;

        @include media-breakpoint-up(xl) {
            margin: 0 2.5rem 0 0;
        }

        &--financie:before {
            content: fa-content($fa-var-bell);
            font-size: 2.8rem;
            color: $notification-icon-color;
            display: inline-block;
        }

    }

}

.main-content-header__user-area {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;

    @include media-breakpoint-up(xl) {
        width: unset;
        justify-content: unset;
        margin-bottom: unset;
    }
}

.main-content-header__subpages-nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        overflow-x: auto;

        li {
            display: inline-block;
        }

        a {
            display: flex;
            align-items: center;
            padding: 0 2.5rem;
            height: 5.2rem;
            font-size: 1.6rem;
            border-radius: .4rem;
            color: $subpages-nav-item-color;

            transition: all .3s ease-in-out;

            &:hover {
                text-decoration: none;
            }

            .count {
                display: inline-block;

                background-color: $subpages-nav-item-count-bg;
                color: $subpages-nav-item-count-color;

                border-radius: .4rem;

                font-size: 1.4rem;
                line-height: 2.4rem;
                text-align: center;

                width: 2.4rem;
                height: 2.4rem;

                margin: 0 0 0 1rem;

                transition: all .3s ease-in-out;
            }
            
            &.active, &:hover {
                background-color: rgba($subpages-nav-item-bg--active,.2);
                color: $subpages-nav-item-color--active;

                .count {
                    background-color: $subpages-nav-item-count-bg--active;
                    color: $subpages-nav-item-count-color;
                }
            }
        }
    }
}
