// --------------------------------
// Hero banner settings
// -------------------------------- 

$notification-icon-color: $color-light-grey-300;

$subpages-nav-item-bg: $color-light-grey-200;
$subpages-nav-item-color: $color-grey;
$subpages-nav-item-bg--active: $color-light-grey-200;
$subpages-nav-item-color--active: $color-dark-blue;
$subpages-nav-item-count-bg: $color-light-grey-200;
$subpages-nav-item-count-bg--active: $color-primary;
$subpages-nav-item-count-color: $white;

header {

    &.landing {

        position: absolute;
        top: 0;
        left: 0;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        width: 100%;
        height: 10rem;   
        
        
        z-index: 2;
    }

    &.main-content-header {   

        padding: 2rem !important;

        @include media-breakpoint-up(md) {
            padding: 3rem !important;
        }

        @include media-breakpoint-up(xl) {
            padding: 0 6rem !important;
            height: 15rem;
        }

        .alerts-icon {
            @extend %fa-icon;
            @extend .fas;    
            
            margin-right: 3rem;
            position: relative;

            .unread-alert {
                position: absolute;
                top: 0;
                right: 0;
                width: .8rem;
                height: .8rem;
                background-color: $color-primary;
                border: .15rem solid $white;
                border-radius: 50%;
            }

            &:after {
                content: fa-content($fa-var-bell);
                font-size: 2rem;
                color: $notification-icon-color;
                display: inline-block;
            }
        }

        .user-profile-toggle {
            border-radius: 50%;
            background-color: rgba(#CAD6E4, .5);
            overflow: hidden;
        }


    }

    
}


.row-header {

    .icon {
        @extend %fa-icon;
        @extend .fas;  

        margin: 0 1.5rem 0 0;

        @include media-breakpoint-up(xl) {
            margin: 0 2.5rem 0 0;
        }

        &--financie:before {
            content: fa-content($fa-var-bell);
            font-size: 2.8rem;
            color: $notification-icon-color;
            display: inline-block;
        }

    }

}

.main-content-header__user-area {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;

    @include media-breakpoint-up(xl) {
        width: unset;
        justify-content: unset;
        margin-bottom: unset;
    }
}

.main-content-header__subpages-nav {
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
        }

        a {
            display: flex;
            align-items: center;
            padding: 0 1.5rem;
            height: 4rem;
            font-size: 1.4rem;
            border-radius: .4rem;
            color: $subpages-nav-item-color;

            @include media-breakpoint-up(md) {
                padding: 0 2.5rem;
                height: 5.2rem;
                font-size: 1.6rem;
            }

            &:hover {
                text-decoration: none;
            }

            .count {
                display: inline-block;

                background-color: $subpages-nav-item-count-bg;
                color: $subpages-nav-item-count-color;

                border-radius: .4rem;

                font-size: 1.4rem;
                line-height: 2.4rem;
                text-align: center;

                width: 2.4rem;
                height: 2.4rem;

                margin: 0 0 0 1rem;
            }
            
            &.active {
                background-color: rgba($subpages-nav-item-bg--active,.2);
                color: $subpages-nav-item-color--active;

                .count {
                    background-color: $subpages-nav-item-count-bg--active;
                    color: $subpages-nav-item-count-color;
                }
            }
        }
    }
}
