// --------------------------------
// Sidebar settings
// -------------------------------- 

$sidebar-width: 32rem;

$navigiation-item-color: $color-dark-blue;
$navigiation-item-color--dark: $white;
$navigiation-item-color-icon: $color-light-grey-100;
$navigiation-item-color-icon--dark: rgba($color-light-grey-200, .25);
$navigiation-item-color--disabled: $color-light-grey-100;
$navigiation-item-bg--active: rgba($color-light-grey-200, .2);
$navigiation-item-color--active: $color-dark-blue;
$navigiation-item-color-icon--active: $color-primary;
$navigiation-item-color-icon--active--dark: $white;

.left-sidebar {

    position: fixed;
    background-color: $white;
    width: 32rem;
    top: 0;
    left: -32rem;
    height: 100vh;
    padding: 4rem;

    box-shadow: -3rem 6rem 10rem 0 rgba($color-light-grey-200, .08) ;

    @include media-breakpoint-up(xl) {
        left: 0;
    }

    &.active {
        left: 0;
        z-index: 99;

        & + main {
            &:before {
                content: "";
                display: block;
                position: fixed;
                z-index: 90;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #0F1839;
                opacity: .6;
            }
        }
    }

    nav {

        ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;

            li {
                margin: 0 0 2rem;

                &:last-child {
                    margin: 0 0 4rem;
                }

                a {
                    height: 5.2rem;
                    line-height: 5.2rem;
                    padding: 0 2rem;
                    display: flex;
                    align-items: center;
                    border-radius: .4rem;

                    color: $navigiation-item-color;

                    transition: all .3s ease-in-out;

                    .icon-wrap {
                        display: inline-grid;
                        place-items: center;
                        width: 2.4rem;
                        margin: 0 1.5rem 0 0;
                    }
                    svg {
                        fill: $navigiation-item-color-icon;
                        
                        transition: all .3s ease-in-out;
                    }

                    &:hover, &.active {
                        text-decoration: none;
                        background-color: $navigiation-item-bg--active;
                        color: $navigiation-item-color--active;

                        transition: all .3s ease-in-out;

                        svg {
                            fill: $navigiation-item-color-icon--active;
                        }
                    }

                    &.disabled {
                        color: $navigiation-item-color--disabled;
                        pointer-events: none;

                        svg {
                            fill: $navigiation-item-color--disabled;
                        }
                    }
                }

            }
        }


    }

    &.dark {
        background-color: $color-secondary;

        nav {
            ul {
                li {
                    a {
                        color: $navigiation-item-color--dark;

                        svg {
                            fill: $navigiation-item-color-icon--dark;
                        }

                        &:hover, &.active {
                            svg {
                                fill: $navigiation-item-color-icon--active--dark;
                            }
                        }
                    }
                }
            }
        }
    }

}

$left-sidebar-reg-width: 31rem;

.left-sidebar-reg {

    width: $left-sidebar-reg-width;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;

}

.reg-container {
    padding-left: $left-sidebar-reg-width;
    width: 100%;
}