// --------------------------------
// Hero banner settings
// -------------------------------- 

header {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 10rem;   
    
    
    z-index: 2;
    
}