@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: local('Poppins Regular'), local('Poppins-Regular'), url(Poppins/Poppins-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: local('Poppins Bold'), local('Poppins-Bold'), url(Poppins/Poppins-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

